<% include ./partials/header %>

<div class="ui container main error message">
  <i class="close icon"></i>
  <div class="header">
    There were some errors with your submission
  </div>
  <ul class="list">
   
    <li>Please put correct URL.</li>
  </ul>
</div>
<% include ./partials/footer %>